{# Step 1: Character Name #}
<fieldset>
    <legend>Step 1: Name Your Character</legend>
    {{ form.hidden_tag() }} {# Add this line #}
    <p>
        {{ form.character_name.label }}<br>
        {# The value is pre-populated by the route using form.character_name.data #}
        {{ form.character_name(size=30) }} 
        {% if form.character_name.errors %}
            <ul class="errors" style="color: red;">
                {% for error in form.character_name.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </p>
    {# Manual flash messages for this field are removed as WTForms handles errors #}
</fieldset>
