{% extends "base.html" %}

{% block content %}
    <h1>Create New Character</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
            <div style="width: 48%;"> <!-- Column 1 for Name, Race, Class -->
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=30) }}<br>
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.race.label }}<br>
                    {{ form.race() }}<br>
                    {% for error in form.race.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.character_class.label }}<br>
                    {{ form.character_class() }}<br>
                    {% for error in form.character_class.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <div style="width: 48%;"> <!-- Column 2 for Ability Scores -->
                <p>
                    {{ form.strength.label }}<br>
                    {{ form.strength(size=5) }}<br>
                    {% for error in form.strength.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.dexterity.label }}<br>
                    {{ form.dexterity(size=5) }}<br>
                    {% for error in form.dexterity.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.constitution.label }}<br>
                    {{ form.constitution(size=5) }}<br>
                    {% for error in form.constitution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.intelligence.label }}<br>
                    {{ form.intelligence(size=5) }}<br>
                    {% for error in form.intelligence.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.wisdom.label }}<br>
                    {{ form.wisdom(size=5) }}<br>
                    {% for error in form.wisdom.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.charisma.label }}<br>
                    {{ form.charisma(size=5) }}<br>
                    {% for error in form.charisma.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        </div>

        <div> <!-- Full width for Spells Known -->
            <p>
                {{ form.spells_known.label }}<br>
                {{ form.spells_known(rows=5, cols=67) }}<br>
                {% for error in form.spells_known.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>

        <p>{{ form.submit() }}</p>
    </form>

    <hr>
    <div>
        <h2>D&D 5e Resources</h2>
        <p>
            For more information on D&D 5e, check out the <a href="https://roll20.net/compendium/dnd5e/BookIndex" target="_blank">Roll20 Compendium</a>.
            <br>
            Learn about <a href="https://roll20.net/compendium/dnd5e/Races%20List" target="_blank">Races</a> and <a href="https://roll20.net/compendium/dnd5e/Classes%20List" target="_blank">Classes</a>.
        </p>
    </div>

{% endblock %}
